@import "../../sass/vars.sass"
@import "../../libs/font-awesome.min.css"
@import "../../libs/magnific-popup.css"
@import "../../libs/jquery-ui.min.css"
html, body
	font-size: 16px
body
	background-color: #def7fe
	margin: 0
	min-width: 320px
	position: relative
	@include font($main_txt_color, 16, $font_FuturaBook, 1.6)
	overflow-x: hidden
	-webkit-tap-highlight-color: transparent
	//внешний вид скроллбара
	scrollbar-base-color: $main_color   //для IE
	scrollbar-arrow-color: $main_color	//для IE
	//внешний вид скроллбара для -webkit- остальное тут https://poselab.com/en/blog/custom-scrollbars-in-webkit/
	&::-webkit-scrollbar
		width: 12px
	&::-webkit-scrollbar-thumb
		background-color: $main_color
		&:hover
			background-color: darken($main_color, 10%)
	&::-webkit-scrollbar-track-piece
		background-color: transparent
p,ul
	padding: 0
	margin: 0
li
	list-style: none

.noselect
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
.hide-links-modal
	opacity: 0
	height: 0
// Модальное окно
.white-popup
	width: 570px
	margin: auto
	max-width: 50em
	padding: 45px 30px 30px 20px
	position: relative
	border: 1px solid #ffd1ee
	background-color: #fff
	transition: 0.5s
	&.popup-constructor-order-created
		border: 1px solid #67809b
		padding: 10px 10px 30px 10px
		text-align: center
		.order-created__title
			margin-bottom: 15px
			font-size: 20px
			color: #d00184
		p
			margin-bottom: 25px
		.mfp-close
			top: 13px
		&.popup-constructor-order-not-created
			.order-created__title
				color: #c01a2b
	.title-modal-top
		margin-bottom: 20px
		line-height: 1.2
		span
			font-size: 22px
	.modal-loaders
		display: flex
		margin-bottom: 20px
		.ready-to-create__constructor-design-social-item
			width: 250px
			margin-right: 30px
		.ready-to-create__constructor-design-social-title
			text-align: left
			margin-bottom: 10px
		.ready-to-create__constructor-design-social
			padding-left: 50px
			justify-content: left
		.ready-to-create__constructor-design-input-file
			width: 170px
	.popup-constructor__image-categories
		display: flex
	.popup-constructor__image-categories-links
		width: 250px
		margin-right: 15px
		font-size: 22px
		flex-shrink: 0
		a
			margin-right: 10px
			&:last-of-type
				margin-right: 0
	.popup-constructor__image-categories-links-title
		margin-bottom: 5px
	.popup-constructor__image-categories-wrap
		height: 100%
		margin-top: 30px
		display: flex
		flex-wrap: wrap
		.popup-constructor__image-categories-item
			width: 74px
			height: 74px
			flex-shrink: 0
			margin-bottom: 10px
			margin-left: 5px
			margin-right: 5px
			img
				max-width: 100%
				height: auto
	.popup-constructor__image-categories-pagination
		display: flex
	.wrap__pagination
		text-align: center
		margin-top: 10px
		.pagination
			li
				display: inline-block
				a
					font-size: 14px
					border-radius: 5px
					background-color: $main_txt_color
					color: #fff
					padding: 3px 8.5px
					text-decoration: none
					transition: 0.5s
					&.active
						text-decoration: none
						background-color: $main_color
					&:hover
						text-decoration: none
						background-color: $main_color
					&:active
						text-decoration: none
						background-color: $main_color
					&:focus
						text-decoration: none
						background-color: $main_color
				.ellipsis
					font-size: 14px
					padding: 3px 8.5px
					background-color: #f2f2f2
					color: $main_txt_color
.mfp-zoom-in.mfp-ready.mfp-bg
	opacity: 0.7
.mfp-bg
	background: rgba(11, 11, 11, 0.46)
.mfp-close-btn-in .mfp-close
	position: absolute
	right: 20px
	top: 20px
	display: block
	color: transparent
	transition: top 0.5s
	&:hover i
		color: #ec008c
	i
		color: $main_txt_color
		transition: color 0.5s
		@include fz(20)
	&:hover
		outline: 0
	&:active
		outline: 0
	&:focus
		outline: 0
a.pink-border
	color: $main_txt_color
	text-decoration: dashed
	transition: 0.5s
	@include fz(22)
	position: relative
	display: inline-block
	&:after
		content: ""
		display: block
		width: 100%
		height: 1px
		border: 1px dashed $main_txt_color
		position: absolute
		bottom: 2px
		left: 0
		transition: 0.5s
	&:hover:after
		border: 1px dashed #ffc5f2
	&:active:after
		border: 1px dashed #ffc5f2
	&:focus:after
		border: 1px dashed #ffc5f2
	&:hover
		color: #ffc5f2
	&:active
		color: #ffc5f2
	&:focus
		color: #ffc5f2
// select основной
.select
	position: relative
	text-align: left
	.drop
		width: 100%
		max-height: 200px
		margin: 0 auto
		padding: 0
		overflow: auto
		display: none
		position: absolute
		background-color: #fff
		border: 1px solid #353535
		border-top: none
		top: 60px
		left: 0
		right: 0
		z-index: 12
		li
			list-style: none
			border-bottom: none
			border-top: none
			cursor: pointer
			display: block
			@include font($auxiliary_txt_color, 18, $font_main_regular, 1.2)
			padding: 15px 15px 15px 20px
			&:hover
				background-color: rgba(0,0,0,0.2)
				outline: 0
			a
				text-decoration: none
		//внешний вид скроллбара
		scrollbar-base-color: $main_color   //для IE
		scrollbar-arrow-color: $main_color	//для IE
		//внешний вид скроллбара для -webkit- остальное тут https://poselab.com/en/blog/custom-scrollbars-in-webkit/
		&::-webkit-scrollbar
			width: 5px
		&::-webkit-scrollbar-thumb
			background-color: #ffd1ee
			&:hover
				background-color: darken(#ffd1ee, 10%)
		&::-webkit-scrollbar-track-piece
			background-color: lighten(#ffd1ee, 60%)
	.slct
		width: 100%
		height: 60px
		padding-left: 20px
		padding-right: 30px
		margin-bottom: 30px
		display: block
		@include font($main_txt_color, 22, $font_FuturaBook, 1.2)
		background-color: #fff
		line-height: 60px
		border: 1px solid #353535
		overflow: hidden
		white-space: nowrap
		text-overflow: ellipsis
		-o-text-overflow: ellipsis
		text-decoration: none
		position: relative
		transition: color 1s
		&.active
			color: #000
			background-color: #F4F4F4

	.slct_arrow
		position: absolute
		top: 20px
		right: 20px
		cursor: pointer
		.fa
			@include fz(22)
			color: $main_txt_color
			position: relative
			z-index: 10
			transition: 0.3s
		&.active .fa
			transform: rotate(180deg)
.input_wrap
	position: relative
	display: block
	i
		display: none
		position: absolute
		top: 15px
		right: 16px
		font-size: 14px
		color: #35be70
.tabs-item
	&.active
.tabs-wrap
	display: none

.tabs-wrap.active
	display: block
	animation: fade
	animation-duration: 0.7s
@keyframes fade
	from
		opacity: 0
	to
		opacity: 1
.ready-to-create__constructor
	background-color: #fff
	border: 1px solid #ffd1ee
	padding-bottom: 80px
	//внешний вид скроллбара
	scrollbar-base-color: $main_color   //для IE
	scrollbar-arrow-color: $main_color	//для IE
	//внешний вид скроллбара для -webkit- остальное тут https://poselab.com/en/blog/custom-scrollbars-in-webkit/
	&::-webkit-scrollbar
		width: 12px
	&::-webkit-scrollbar-thumb
		background-color: $main_color
		&:hover
			background-color: darken($main_color, 10%)
	&::-webkit-scrollbar-track-piece
		background-color: transparent
	.select
		display: inline-block
		.slct
			width: 270px
			border: none
			background-color: $main_color
		.drop
			border: 1px solid #ffd1ee
			border-top: none
			li
				transition: 0.5s
				&:hover
					background-color: #ffd1ee
.ready-to-create__constructor-header
	margin-bottom: 30px
	padding-left: 100px
	display: flex
.ready-to-create__constructor-steps
	padding-top: 75px
	&.step1
		.ready-to-create__constructor-step
			&[data-tab="1"]
				background-color: #e2f4ef
			&[data-tab="2"]
				background-color: #e2f4ef
			&[data-tab="3"]
				background-color: #d5d5d5
			&.active
				background-color: #353535
				position: relative
				.ready-to-create__constructor-step-value
					color: #fff
	&.step3
		.ready-to-create__constructor-step
			&[data-tab="1"]
				background-color: #e2f4ef
			&[data-tab="2"]
				background-color: #e2f4ef
			&[data-tab="3"]
				background-color: #e2f4ef
			&.active
				background-color: #353535
				position: relative
				.ready-to-create__constructor-step-value
					color: #fff
	.ready-to-create__constructor-step
		width: 320px
		height: 60px
		margin-right: 5px
		display: flex
		align-items: center
		justify-content: center
		position: relative
		&.last
			margin-right: 0
		.ready-to-create__constructor-step-value
			@include fz(22)
		&.active
			position: relative
			&:after
				@include css-triangle(#353535,down,10px)
				bottom: -10px
				right: 50%
				transform: translateX(50%)
				transition: 0.5s
.ready-to-create__constructor-step-info
	height: 40px
	padding-left: 8px
	padding-right: 8px
	background-color: #def7fe
	border-radius: 10px
	position: absolute
	top: -65px
	left: 0
	display: flex
	align-items: center
	display: none
	&:after
		content: ""
		display: block
		position: absolute
		bottom: -17px
		left: 11px
		width: 0
		height: 0
		border-top: 17px solid #def7fe
		border-right: 22px solid transparent
	.ready-to-create__constructor-step-info-value
		color: $main_txt_color
		@include fz(20)
	i
		font-size: 16px
		margin-left: 20px
		cursor: pointer
.ready-to-create__constructor-title
	margin-bottom: 40px
	text-align: center
	&.tab2
		text-align: left
		.ready-to-create__constructor-divider
			margin: 0
.ready-to-create__constructor-title-val
	@include fz(20)
	margin-bottom: 10px
.ready-to-create__constructor-divider
	width: 170px
	height: 2px
	margin: auto
	background-color: #353535
	&.form
		width: 130px
		margin-left: 0
		margin-bottom: 20px
.ready-to-create-promo
	position: relative
	input
		margin-bottom: 0
		padding-right: 40px
	i
		position: absolute
		top: 50%
		right: 20px
		font-size: 20px
		transform: translateY(-45%)
		cursor: pointer
		color: #383838
		z-index: 10
		transition: color 0.5s
		&:hover
			color: #e00029
.top-block-promo-hide-error
	display: none
	position: absolute
	bottom: -25px
	left: 20px
	font-size: 15px
	color: #e00029
.ready-to-create__constructor-model-canvas-container
	width: 230px
	padding-top: 100px
	margin-bottom: 60px
	margin-right: 70px
	height: auto
	overflow: hidden
	text-align: center
	&.step1
		width: 100%
		padding-top: 0
	&.step3
		width: 470px
		padding-top: 0
		margin-right: 30px
		margin-left: 100px
.ready-to-create__constructor-phonegroup-item
	&.center-select
		text-align: center
	button
		width: 270px
.ready-to-create__constructor-wrap
	width: 350px
	margin-right: 20px
	margin-left: 100px
	flex-shrink: 0
.ready-to-create__constructor-design-link-toggle
	display: flex
	margin-bottom: 18px
	padding-bottom: 5px
	color: $main_txt_color
	@include fz(20)
	border-bottom: 2px solid #383838
	transition: 0.5s
	&:hover
		color: #609086
		text-decoration: none
	&:active
		color: #609086
		text-decoration: none
	&:focus
		color: #609086
		text-decoration: none
	&.m-open
		i
			transform: rotate(180deg)
	i
		width: 13px
		display: inline-flex
		align-items: center
		margin-left: auto
		margin-right: 20px
		transition: 0.5s
.ready-to-create__constructor-instruction-item
	display: flex
	margin-bottom: 20px
.ready-to-create__constructor-instruction-item-img
	height: 100%
	display: flex
	margin-right: 10px
	flex-shrink: 0
.ready-to-create__constructor-instruction-item-img-digi-block
	width: 40px
	height: 40px
	display: flex
	align-items: center
	justify-content: center
	background-color: #e2f4ef
	span
		@include fz(22)
.ready-to-create__constructor-instruction-item-txt
	padding-top: 3px
	p
		line-height: 1.1
		@include fz(15)
.ready-to-create__constructor-instruction-item-title
	padding-left: 10px
	@include fz(16)
	color: #de04e1
	text-transform: uppercase
.ready-to-create__constructor-instruction-item-text-info
	padding-left: 10px
	line-height: 1.2
	@include fz(16)
.ready-to-create__constructor-design-load
	margin-bottom: 40px
	button
		width: 100%
.ready-to-create__constructor-design-txt
	.title
		@include fz(22)
		line-height: 1.1
	.description
		@include fz(16)
		line-height: 1.1
.ready-to-create__constructor-design-social-item
	&.not-modal
		margin-bottom: 15px
		display: flex
		align-items: center
.ready-to-create__constructor-design-social-title
	margin-right: 10px
	text-align: center
	@include fz(21)
	line-height: 0.8
.ready-to-create__constructor-design-social
	a
		text-decoration: none
		margin-right: 5px
		&:hover
			text-decoration: none
		&:active
			text-decoration: none
		&:focus
			text-decoration: none
.ready-to-create__constructor-design-background-text
	display: flex
	margin-bottom: 10px
.ready-to-create__constructor-design-background-text-item
	display: flex
	align-items: center
	margin-right: 30px
	&:last-of-type
		margin-right: 0
.ready-to-create__constructor-design-background-text-item-label
	margin-right: 10px
	@include fz(22)
	flex-shrink: 0
.ready-to-create__constructor-design-background-text-item-input
	width: 78px
	flex-shrink: 0
	input
		width: 100%
		height: 41px
		border: 1px solid #c4c4c4
		padding-left: 10px
		@include fz(22)
		font-family: $font_FuturaBook
		color: $main_txt_color
		transition: 0.5s
		&:hover
			outline: 0
		&:active
			border: 1px solid #ec008c
			outline: 0
		&:focus
			border: 1px solid #ec008c
			outline: 0
.ready-to-create__constructor-design-input-file
	width: 93%
	height: 45px
	background-color: #e5f7fe
	display: flex
	align-items: center
	justify-content: center
	overflow: hidden
	position: relative
	transition: 0.5s
	cursor: pointer
	&:hover
		background-color: $main_color3
	&:hover span
		color: $main_txt_color
	span
		@include fz(22)
	input
		width: auto
		height: 57px
		position: absolute
		top: 0
		right: 0
		opacity: 0
		font-size: 600px
		z-index: 2
		cursor: pointer
.ready-to-create__constructor-design-dropdown-wrap
	display: none
.ready-to-create__constructor-design-btn-wrap
	display: flex
.ready-to-create__constructor-design-btn-item
	width: 140px
	height: 57px
	margin-right: 20px
	border: 3px solid #e2f4ef
	display: flex
	align-items: center
	justify-content: center
	transition: 0.5s
	&:last-of-type
		margin-right: 0
	form
		width: 100%
		display: flex
		align-items: center
		justify-content: center
.ready-to-create__constructor-picture-position-item
	margin-bottom: 10px
	&.last
		margin-bottom: 28px
.ready-to-create__constructor-picture-position-item-title
	margin-bottom: 5px
	font-size: 22px
.ready-to-create__constructor-picture-position-slider-wrap
	display: flex
.ready-to-create__constructor-picture-position-slider
	width: 200px
	margin-right: 30px
	padding-left: 5px
	display: flex
	align-items: center
.ready-to-create__constructor-picture-position-slider-minus-plus
	display: flex
	align-items: center
	a
		display: inline-flex
		align-items: center
		color: $main_txt_color
		transition: color 0.5s
		&:hover
			color: #609086
			text-decoration: none
		&:active
			text-decoration: none
		&:focus
			text-decoration: none
		&:first-of-type
			margin-right: 20px
		i
			font-size: 20px
.ready-to-create__constructor-picture-position-cancellation
	width: 100%
	margin-bottom: 20px
	button
		width: 100%
		color: $main_txt_color
		background-color: #d5d5d5
.ready-to-create__constructor-level3-wrap
	display: flex
	flex-wrap: wrap
.ready-to-create__constructor-design-btn-wrap
	margin-bottom: 20px
.ready-to-create__constructor-design-option
	width: 100%
	.select
		display: block
		margin-bottom: 20px
		.slct
			width: 100%
			margin-bottom: 0
	.ready-to-create__constructor-design-option-input
		width: 100%
		height: 60px
		margin-bottom: 10px
		padding-left: 20px
		@include fz(22)
		font-family: $font_FuturaBook
		border: 1px solid #353535
		transition: 0.5s
		&:hover
			outline: 0
		&:active
			border: 1px solid #ec008c
			outline: 0
		&:focus
			outline: 0
			border: 1px solid #ec008c
.ready-to-create__constructor-design-option-wrap
	padding-left: 100px
.ready-to-create__constructor-design-option-color-switchs
	display: flex
	flex-direction: column
.ready-to-create__constructor-design-option-text-texture-switchs
	margin-bottom: 2px
	span
		line-height: 1.2
		@include fz(22)
.ready-to-create__constructor-design-option-font-btn
	display: flex
.ready-to-create__constructor-design-option-font-btn-item
	width: 30px
	height: 30px
	margin-right: 4px
	cursor: pointer
	border-radius: 15px
	overflow: hidden
	background-color: #000000
.ready-to-create__constructor-design-option-font-btn-wrap
	height: 30px
	button
		width: 30px
		height: 30px
		border: none
		padding: 0
		border-radius: 15px
		cursor: pointer
		background: url(../../img/color-swatch-add.png) center center no-repeat #d0d0d0
		&:hover
			outline: 0
		&:active
			outline: 0
		&:focus
			outline: 0
.ready-to-create__constructor-level2-wrap
	display: flex
.ready-to-create__constructor-design-option-toolbar
	display: flex
	align-items: center
	&.mobile-step3
		.ready-to-create__constructor-design-option-toolbar-backward
			width: 262px
			margin-right: 238px
	&.mobile
		display: none
.ready-to-create__constructor-design-option-toolbar-backward
	width: 200px
	height: 60px
	display: flex
	align-items: center
	padding-left: 18px
	background-color: #d5d5d5
	border: 1px solid transparent
	@include fz(22)
	cursor: pointer
	transition: 0.5s
	&:hover
		background-color: #fff
		border: 1px solid $main_txt_color
	i
		margin-right: 7px
.ready-to-create__constructor-design-option-toolbar-order
	width: 200px
	height: 60px
	margin-left: auto
	display: flex
	align-items: center
	justify-content: center
	border: 1px solid transparent
	background-color: #e2f4ef
	@include fz(22)
	cursor: pointer
	transition: 0.5s
	&:hover
		background-color: #fff
		border: 1px solid $main_txt_color
	i
		margin-left: 7px
.ready-to-create__constructor-design-option-toolbar-content
	width: 300px
	display: flex

.ready-to-create__constructor-checkout
	width: 470px
	.select
		display: block
		.slct
			width: 100%
			margin-bottom: 10px
.ready-to-create__constructor-form-title
	font-size: 20px
	margin-bottom: 5px
.ready-to-create__constructor-checkout-input
	width: 100%
	height: 60px
	margin-bottom: 10px
	padding-left: 20px
	@include fz(22)
	font-family: $font_FuturaBook
	border: 1px solid #353535
	transition: 0.5s
	&:hover
		outline: 0
	&:active
		border: 1px solid #ec008c
		outline: 0
	&:focus
		outline: 0
		border: 1px solid #ec008c
.ready-to-create__constructor-checkout-textarea
	width: 100%
	height: 205px
	margin-bottom: 10px
	padding-left: 20px
	padding-top: 10px
	@include fz(22)
	font-family: $font_FuturaBook
	border: 1px solid #383838
	transition: 0.5s
	&:hover
		outline: 0
	&:active
		border: 1px solid #ec008c
		outline: 0
	&:focus
		outline: 0
		border: 1px solid #ec008c
.ready-to-create__constructor-checkout-btn
	text-align: center
	button
		width: 270px
.ready-to-create__constructor-checkout
	.ready-to-create__constructor-design-option-toolbar
		margin-top: 0

// slider
.ui-widget.ui-widget-content
	width: 100%
	border: none
	background-color: #b0b0b0
	position: relative
	.ui-state-default, .ui-widget-content .ui-state-default
		width: 17px
		height: 17px
		background-color: #616161
		border-radius: 50%
		margin-left: -5px
		top: -4px
		border: none
		transition: background 0.5s
		&.ui-state-active
			outline: 0
			background: #616161
		&.ui-state-focus
			outline: 0
			background: #616161
		&.ui-state-hover
			outline: 0
			background: black
	.ui-widget-header
		background: #e87e02
		border-top: 1px solid #e87e02
		border-right: 9px solid #d57402
.ui-slider-horizontal
	height: 7px
	border-radius: 4px
	top: 0
.ui-corner-all,.ui-corner-left,.ui-corner-tl,.ui-corner-top
	border-top-left-radius: 4px
.ui-corner-all,.ui-corner-right,.ui-corner-top,.ui-corner-tr
	border-top-right-radius: 4px
.ui-corner-all,.ui-corner-bl,.ui-corner-bottom,.ui-corner-left
	border-bottom-left-radius: 4px
.ui-corner-all,.ui-corner-bottom,.ui-corner-br,.ui-corner-right
	border-bottom-right-radius: 4px

// media

// Large devices (desktops, less than 1200px)
@media only screen and (max-width : 1199px)
	/**/
	.ready-to-create__constructor-header
		padding-left: 10px
	.ready-to-create__constructor-steps
		width: 100%
		margin-right: 10px
		.ready-to-create__constructor-step
			width: 100%
	.ready-to-create__constructor-phonegroup-item
		&.center-select-mobile
			text-align: center
	.ready-to-create__constructor-design-txt
		padding-left: 10px
		margin-bottom: 20px
	.ready-to-create__constructor-title.tab2
		padding-left: 10px
	.ready-to-create__constructor-design-option-toolbar-content-item
		margin-bottom: 5px
	.ready-to-create__constructor-instruction
		margin-bottom: 30px
	.ready-to-create__constructor-instruction-item
		padding-left: 10px
	.ready-to-create__constructor-design-option-toolbar-content
		margin-bottom: 30px
		padding-left: 15px
		padding-right: 15px
	.ready-to-create__constructor-design-option-toolbar
		padding-left: 10px
		padding-right: 10px
	.ready-to-create__constructor-level2-wrap
		flex-wrap: wrap
	.ready-to-create__constructor-model-canvas-container.step3
		width: 45%
		margin-left: 0
	.ready-to-create__constructor-checkout
		width: 50%
		padding-right: 10px
		margin-left: auto
	.ready-to-create__constructor-wrap
		width: 100%
		margin-left: 0
	.ready-to-create__constructor-model-canvas-container
		width: 50%
		margin-right: 0
		padding-left: 10px
		padding-top: 0
	.ready-to-create__constructor-design-option-toolbar-content
		width: 48%
		margin-left: auto
	.ready-to-create__constructor-design-background-text-item
		&:last-of-type
			margin-left: auto
			margin-right: 0
	.ready-to-create__constructor-design-btn-item:last-of-type
		margin-left: auto
	.ready-to-create__constructor-design-option-wrap
		padding-left: 0
	.ready-to-create__constructor-design-option-toolbar.mobile-step3 .ready-to-create__constructor-design-option-toolbar-backward
		margin-right: 192px
// Medium devices (tablets, less than 992px)
@media only screen and (max-width : 991px)
	/**/

	.ready-to-create__constructor
		.select
			display: block
			.slct
				width: 100%
	.ready-to-create__constructor-checkout
		padding-left: 10px
		padding-right: 10px
	.ready-to-create__constructor
		.select
			margin-bottom: 20px
	.ready-to-create__constructor-design-option
		.ready-to-create__constructor-design-option-input
			margin-bottom: 20px
	.ready-to-create__constructor-design-option-color-switchs
		margin-bottom: 10px
	.ready-to-create__constructor-phonegroup-item
		button
			width: 200px
	.ready-to-create__constructor-phonegroup
		padding-left: 10px
		padding-right: 10px
	.ready-to-create__constructor-design-option-wrap
		padding-left: 0
	.ready-to-create__constructor-design-option-toolbar-content
		width: 50%
	.ready-to-create__constructor-design-option-toolbar.mobile-step3 .ready-to-create__constructor-design-option-toolbar-backward
		margin-right: 82px
// Small devices (landscape phones, less than 768px)
@media only screen and (max-width : 767px)
	/**/
	.ready-to-create__constructor-steps
		padding-top: 10px
		.ready-to-create__constructor-step
			height: 40px
			&.center-step-mobile
				margin: 0 auto 10px
			&.center-step
				margin: 0 auto 10px
			.ready-to-create__constructor-step-value
				font-size: 18px
	.ready-to-create__constructor-step-info
		display: none
	.ready-to-create__constructor-design-load
		padding-left: 10px
		padding-right: 10px
		button
			&:first-of-type
				margin-bottom: 10px
	.ready-to-create__constructor-phonegroup
		padding-left: 10px
		padding-right: 10px
	.ready-to-create__constructor
		.select
			display: block
			.slct
				width: 100%
	.ready-to-create__constructor-design-option-wrap
		padding-left: 0
	.ready-to-create__constructor-checkout .ready-to-create__constructor-design-option-toolbar
		margin-top: 10px
	.ready-to-create__constructor-design-option-toolbar
		display: flex
		align-items: center
		justify-content: center
		.ready-to-create__constructor-design-option-toolbar-order
			display: none
		.ready-to-create__constructor-design-option-toolbar-backward
			display: none
		&.mobile
			margin-top: 10px
			display: block
			text-align: center
			.ready-to-create__constructor-design-option-toolbar-order
				display: flex
				margin-right: auto
				margin-bottom: 15px
			.ready-to-create__constructor-design-option-toolbar-backward
				display: flex
				margin: auto
		&.mobile-step3
			.ready-to-create__constructor-design-option-toolbar-backward
				display: flex
				margin-right: 0
	.white-popup
		width: 100%
	.ready-to-create__constructor-model-canvas-container
		width: 100%
	.ready-to-create__constructor-model-canvas-container.step3
		width: 100%
		padding-left: 0
		margin-right: 0
		margin-left: 0
	.ready-to-create__constructor-checkout
		width: 100%
	.ready-to-create__constructor-checkout-btn
		margin-left: auto
	.ready-to-create__constructor-design-option-toolbar-content
		width: 100%
	.ready-to-create-promo
		margin-bottom: 20px
	.ready-to-create__constructor-checkout-btn
		button
			width: 150px
// Extra small devices (portrait phones, less than 576px)
@media only screen and (max-width : 575px)
	/**/
	.ready-to-create__constructor-header
		flex-direction: column
		padding-right: 10px
	.ready-to-create__constructor-steps
		margin-right: 0
		.ready-to-create__constructor-step
			height: 25px
			margin-right: 0
			&.active
				height: 40px
			.ready-to-create__constructor-step-value
				font-size: 17px
	.ready-to-create__constructor-checkout-btn
		button
			width: 130px
	.white-popup
		.modal-loaders
			flex-direction: column
			margin-bottom: 0
			.ready-to-create__constructor-design-social-item
				margin-bottom: 20px
		.popup-constructor__image-categories
			flex-direction: column
		.popup-constructor__image-categories-pagination
			width: 100%
			align-items: center
			.pagination
				margin: auto
// Extra small devices (portrait phones, less than 481px)
@media only screen and (max-width : 480px)
	/**/
	.ready-to-create__constructor-design-option-toolbar-content
		margin-bottom: 20px
		padding-left: 10px
		padding-right: 10px
	.ready-to-create__constructor-design-option-text-texture-switchs
		line-height: 1
	.ready-to-create__constructor-design-option-toolbar
		flex-direction: column
	.ready-to-create__constructor-checkout-btn
		margin-right: auto
	.ready-to-create__constructor-design-option-toolbar.mobile-step3 .ready-to-create__constructor-design-option-toolbar-backward
		margin-bottom: 15px
	.ready-to-create__constructor-design-social-item
		&.not-modal
			.ready-to-create__constructor-design-social-title
				width: 50%
	.ready-to-create__constructor-design-background-text
		flex-direction: column
	.ready-to-create__constructor-design-background-text-item
		width: 150px
		margin-right: 0
		&:last-of-type
			margin-left: 0
		&:first-of-type
			margin-bottom: 15px
			.ready-to-create__constructor-design-background-text-item-label
				margin-right: 15px
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/